go 1.26.1

use (
	./cmd/auth
	./cmd/entitlements
	./cmd/gateway
	./cmd/gatewaypriv
	./cmd/inventory
	./cmd/messages
	./cmd/mmservice
	./cmd/mmsolver
	./cmd/msgworker
	./cmd/portal
	./cmd/publisher
	./cmd/subscriber
	./cmd/trade
	./cmd/tradecourier
	./cmd/wallet
	./pkg
)
